[submodule "altium_libraries"]
	path = altium_libraries
	url = https://github.com/sdamkjar/altium_libraries
[submodule "hardware/libraries"]
	path = hardware/libraries
	url = https://github.com/sdamkjar/altium_libraries
[submodule "testing/lab_data_logging"]
	path = testing/lab_data_logging
	url = https://github.com/sdamkjar/lab_data_logging
